[Desktop Entry]
Encoding=UTF-8
Name=Install Software
Exec=package-manager --install %F
Icon=package-manager-icon
Terminal=false
Type=Application
Categories=PackageManager;
MimeType=application/x-rpm
StartupNotify=true
