[Desktop Entry]
Encoding=UTF-8
Name=Install/Remove Software
GenericName=Install Software
Exec=package-manager --install %F
#Icon=package-manager-icon
Terminal=false
Type=Application
Categories=PackageManager;X-SuSE-ControlCenter-System;
MimeType=application/x-rpm;application/x-redhat-package-manager;
StartupNotify=true
